# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
*.log

# Virtual environments
**/.venv/
venv/

# Rasa-specific
.rasa/
models/

# SQLite DB side files
*.db-wal
*.db-shm

# System/IDE junk
.DS_Store
.env
.env.*
