# fly.toml - configuration for lacanian-bot
app = "lacanian-bot"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[processes]
  app = "./start.sh"

[[restart]] 
  policy = "never"

[[services]]
  processes = ["app"]
  internal_port = 5005
  protocol = "tcp"
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 0
  
  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    soft_limit = 20
    hard_limit = 25

[[vm]]
  memory = "2gb"
  cpu_kind = "shared"
  cpus = 1